<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tourist Guide</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link til CSS-filen -->
</head>
<body>
<header>
    <h1>Welcome to Tourist Guide</h1>
    <p>This tourist guide covers some of Denmarks tourist attractions and is aimed at tourists visiting from outside Denmark.</p>
</header>

<section>
    <h2>Selected Tourist Attractions</h2>
    <ul>
        <li><a href="https://www.tivoli.dk/en/">Tivoli Gardens</a> | <a href="http://localhost:8080/attractions/tivoli/edit">Edit</a></li>
        <li><a href="https://www.visitcopenhagen.com/copenhagen/tivoli-gardens-gdk414991">Nyhavn</a> | <a href="http://localhost:8080/attractions/nyhavn/edit">Edit</a></li>
        <li><a href="https://www.visitdenmark.com/denmark/see-do/top-12-attractions-denmark">The Little Mermaid</a> | <a href="http://localhost:8080/attractions/little-mermaid/edit">Edit</a></li>
        <!-- Remember to add more attractions -->
    </ul>
</section>

<section>
    <h2>Endpoints</h2>
    <ul>
        <li><a href="http://localhost:8080/attractions">View all attractions</a></li>
        <li><a href="http://localhost:8080/attractions/tivoli">View one attraction</a></li>
        <li><a href="http://localhost:8080/attractions/delete/tivoli">Delete an attraction</a></li>
    </ul>
</section>

<footer>
    <p>Contact Information:</p>
    <p>Email: info@touristguide.com</p>
    <p>RandomPhoneNumber: +45 45161867</p>
</footer>
</body>
</html>
