<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tourist Guide</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link til CSS-filen -->
</head>
<body>
<header>
    <h1>Welcome to Tourist Guide Denmark</h1>
    <p style="font-size: 1.3em;">This Tourist Guide covers some of Denmarks most beloved tourist attractions and is aimed at tourists visiting from outside Denmark.</p>
</header>

<section>
    <h2 style="font-size: 1.9em;"> Featured Tourist Attractions </h2>
    <ul>
        <li ><a href="https://www.tivoli.dk/en/">Tivoli Gardens</a></li>
        <li><a href="https://info803402.wixsite.com/nyhavn">Nyhavn</a></li>
        <li><a href="https://mermaidsofearth.com/mermaid-statues-mermaid-sculptures/public/the-little-mermaid-statue-copenhagen/">The Little Mermaid</a></li>
        <!-- Remember to add more attractions -->
    </ul>
</section>

<section>
    <h2 style="font-size: 1.7em;">Endpoints</h2>
    <ul>
        <li><a href="http://localhost:8080/attractions">View all attractions</a></li>
        <li><a href="http://localhost:8080/attractions/tivoli">View one attraction</a></li>
        <li><a href="http://localhost:8080/attractions/delete/tivoli">Delete an attraction</a></li>
    </ul>
</section>

<footer>
    <p>Contact Information:</p>
    <p>E-mail: support@touristguide.com</p>
    <p>Tlf. nr.: +45 45 16 18 67</p>
    <p>Management: Almer Toro Coskun</p>
</footer>
</body>
</html>
